**Exercise 1:** Print First 10 natural numbers using while loop

In [1]:
i=1
while i<=10 :
    print (i)
    i+=1

1
2
3
4
5
6
7
8
9
10

**Exercise 2:** Print the following pattern

In [2]:
for i in range (1,6):
    for j in range (1,i+1):
        print (j,end=' ')
    print ("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

**Exercise 3:** Calculate the sum of all numbers from 1 to a given number

In [3]:
x=input("Enter number")
def sum(i):
    if (i>0):
        return i+sum(i-1)
    else:
        return i
sum (int(x))

Enter number10

55

**Exercise 4:** Write a program to print multiplication table of a given number

In [4]:
x=input("Enter number")
def mul (y):
    if (y>=0):
        for i in range (1,11):
            print (i*y)
            print("\n")
mul(int(x))

Enter number2
2


4


6


8


10


12


14


16


18


20

**Exercise 5:** Display numbers from a list using loop

In [5]:
def dis (li,n):
    for i in range (0,n):
        if(li[i])>500:
             break 
        elif li[i]>150:
             continue
        elif li[i]%5==0:
            print(li[i])
numbers=[12,75,150,180,145,525,50]
dis(numbers,7)

75
150
145

**Exercise 6:** Count the total number of digits in a number

In [6]:
x=input()
print(len(x))

75689
5

**Exercise 7:** Print the following pattern

In [7]:
for i in range (1,6):
    for j in range (6-i,0,-1):
        print (j,end=' ')
    print ('\n')

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

**Exercise 8:** Print list in reverse order using a loop

In [8]:
l_1=[10,20,30,40,50]
for i in reversed(l_1):
     print(i)

50
40
30
20
10

**Exercise 9:** Display numbers from -10 to -1 using for loop

In [9]:
for i in range (-10,0,+1):
    print (i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

**Exercise 10:** Use else block to display a message “Done” after successful execution of for loop

In [10]:
try:
    for i in range(5):
        print (i)
except:
    print ("Error")
else:
    print ("Done!")

0
1
2
3
4
Done!

**Exercise 11:** Write a program to display all prime numbers within a range

In [11]:
start=25
end = 50
for i in range (25,50):
        for j in range (2,i):
            if (i%j==0):
                break
        else :
            print(i)

29
31
37
41
43
47

**Exercise 12:**Display Fibonacci series up to 10 terms

In [12]:
n1=0
n2=1
print(n1)
print(n2)
for i in range(8):
    n3=n1+n2
    print(n3)
    n1=n2
    n2=n3

0
1
1
2
3
5
8
13
21
34

**Exercise 13:**Find the factorial of a given number

In [13]:
x=input()

def fact(n):
    if n == 1:
        return n
    else:
        return n*fact(n-1)

print(fact(int(x)))

5
120

**Exercise 14:**Reverse a given integer number

In [14]:
num = input()
print(num[::-1])

123456
654321

**Exercise 15:**Use a loop to display elements from a given list present at odd index positions

In [15]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(my_list[1::2])

[20, 40, 60, 80, 100]

**Exercise 16:**Calculate the cube of all numbers from 1 to a given number

In [16]:
x=int(input())
for i in range(1,x+1):
    print(i**3)

6
1
8
27
64
125
216

**Exercise 17:**Find the sum of the series upto n terms

In [17]:
x=int(input())
sum=0
for i in range (1,x+1):
    print (str(2)*i)
    sum+=int(str(2)*i)
print (sum)

5
2
22
222
2222
22222
24690

**Exercise 18:**Print the following pattern

In [18]:
for i in range (1,6):
    for j in range (1,i+1):
        print ("*",end=' ')
    print ("\n")
    
for i in range (1,5):
    for j in range (5-i,0,-1):
        print ("*",end=' ')
    print ('\n')

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*